*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    background-color: rgb(165, 159, 159);
}
.intro{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 47, 41);
    color: white;
    padding: 4rem;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 5rem;
}
.primary-heading{
    text-align: center;
    margin: 3rem;
    color: tomato;
    
}
.para{
    line-height: 3rem;
}

.primary1 {
        text-align: center;
        margin: 3rem;
        color: yellow;
        
}
.para2{
    line-height: 3rem;
}

img{
    height:65rem
}

li{

    line-height: 4rem;
    color: white;
    font-size: 2rem;
}

@media only screen and (max-width: 700px){
img{
    height: 30rem;
}
html{
    font-size: 50%;
}
}

@media only screen and (max-width: 400px){
    html{
        font-size: 35%;
    }
}